* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.video-icons {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 5px 3px 0 0;
}

.view {
    background-color: #4a4a4a;
    padding: 4px;
    border-radius: 4px;
    margin-right: 8px;
}

.full-screen {
    background-color: #4a4a4a;
    padding: 4px;
    border-radius: 4px;
}

.video {
    padding: 50px 0 30px 0;
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.zoom-user {
    position: relative;
    margin: 0 5px 0 5px;
}

.zoom-user img {
    width: 175px;
}

.user-status {
    color: white;
    background-color: rgba(0, 0, 0, .35);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
}

nav {
    background-color: #222222;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
}

.block-1, .block-3 {
    width: 170px;
}

.block-1 {
    color: white;
    display: flex;
    justify-content: center;
}

.block-2 {
    color: white;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.block-3 {
    color: red;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^="buttons-"] {
    display: flex;
    align-items: center;
}

.buttons-left:first-child, .buttons-central:not(.buttons-central:last-child) {
    margin-right: 15px;
}

.navbar-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-icons {
    font-size: 18px;
    margin-bottom: 5px;
}

.fa-share-square {
    color: #70c63b;
}

.select {
    font-size: 12px;
    margin-left: 15px;
}

